/* LAYOUT */
body{
    min-height: 100vh;
}
.l_main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.l_header{
    height: 10vh;
    background-color: bisque;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.l_main_content{
    flex-grow: 1;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.l_footer{
    height: 10vh;
    background-color: bisque;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* General */
img{
    width: 50px;
    margin: 10px;
}

/*Modules*/
.main_title{
    width: 100%;
    text-align: center;
    padding: 20px;

    background-color: #f3e4db;
}

.main_section{
    flex-grow: 1;
    overflow: scroll;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.list_item{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.list_item_logos{

}