{# On doit hérité du gabarit #}
{% extends 'base.html.twig' %}

{# On définis le contenu du block body #}
{% block body %} <h1>Voici la home {{ prenom|raw }}</h1> {% endblock %}

{# On définis le contenu du block title
parent() recupere le titre du parent #}
{% block title %} {{ parent() }} Home {% endblock %}

